
  /* body {
    background-color: #ADD8E6;
    background-image: linear-gradient(to right, #ADD8E6, #87CEFA);
  } */
  
  #contact {
    margin-bottom: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
    
    font-family: 'Courier New', Courier, monospace;
  }
  
  #contactMe{
    margin-top: 15px;
  }
  form {
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    margin-top: 15px;
    
  }

  #details{
    display: flex;
    flex-direction: column;
    margin-right: 800px;
    margin-top: -400px;
    margin-top: 10px;
  }
  #form{
    display: flex;
    flex-direction: column;
    margin-left: 800px;
  }
  .form-group {
    margin-bottom: 20px;
  }

  
  
  label {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    display: block;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #444;
  }

  .getintouch{
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    margin-left: -500px;
  }
  .getintouch p{
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .getintouch h3{
    margin-top: -10px;
    margin-left: 15px;
  }
 
  
 